*.vim
start_insecure_coresystems.sh
stop_coresystems.sh
*.crt
*.key
*.p12
docs/build/
__pycache__/
.mypy_cache/
logs/
build/
dist/
tags
arrowhead_client.egg-info/
.tox/
.idea/
venv*
*/__pycache__/*
.coverage
htmlcov/*
*/sql/*
*sql
